[Unit]
Description=SW ciph Service

Wants=network.target
After=syslog.target

[Service]
Type=simple
ExecStart=/home/ciph_app/ciph_app.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
Alias=ciph_app
WantedBy=multi-user.target
